<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>coinremitter</name>
    <displayName><![CDATA[Coinremitter]]></displayName>
    <version><![CDATA[1.0.1]]></version>
    <description><![CDATA[Accept Bitcoin, BitcoinCash, Bitcoin Gold, Ethereum, Litecoin, Dogecoin, Ripple, Tether (USDT), Dash etc via Coinremitter.]]></description>
    <author><![CDATA[Coinremitter]]></author>
    <tab><![CDATA[wallets]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to delete your details?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>